


body {

      background-color: #eaf6f6;

      }
hr {

      border-style: dotted none none;
      height: 2px;
      width: 5%;
      border-width: 5px;
      border-color: #bbbfca;
      }

 h1 {

      color: #66bfbf;
      text-transform: none;


      }



  h2 {

           color: #66bfbf;

           }
